# Java
*.class
*.jar
*.war
*.ear
target/
.idea/
*.iml

# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Gradle
.gradle/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# AWS
.aws-sam/
.env
.env.*

# IDE
.vscode/
